<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrudOperation</title>
</head>
<body>
    <form method="POST" action="{% url 'crud' %}">
        {% csrf_token %}
        <div>
            <label for="Fname">Fname</label>
            <input type="text" name="Fname" id="Fname" />
        </div>
        <div>
            <label for="Lname">Lname</label>
            <input type="text" name="Lname" id="Lname" />
        </div>
        <div>
            <label for="Age">Age</label>
            <input type="text" name="Age" id="Age" />
        </div>
        <div>
            <label for="Phone">Phone</label>
            <input type="text" name="Phone" id="Phone" />
        </div>
        <input type="submit" value="Send">
    </form>
</body>
</html>